@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    *::-webkit-scrollbar,
    *::-webkit-scrollbar-thumb {
        width: 15px;
        border-radius: 13px;
        background-clip: padding-box;
        border: 4px solid transparent;
    }

    *::-webkit-scrollbar-thumb {        
        box-shadow: inset 0 0 0 5px;
    }
}

@layer components {
  
}